<meta charset="utf-8"/>
<meta name="description" content="Updates and statistics"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<!--begin::Fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
<!--end::Fonts-->
<!--begin::Global Theme Styles(used by all pages)-->
<link href="{{ url_for('static', filename='assets/plugins/global/plugins.bundle.css') }}" rel="stylesheet"
      type="text/css"/>
<link href="{{ url_for('static', filename='assets/plugins/custom/prismjs/prismjs.bundle.css') }}" rel="stylesheet"
      type="text/css"/>
<link href="{{ url_for('static', filename='assets/css/style.bundle.css') }}" rel="stylesheet" type="text/css"/>
<!--end::Global Theme Styles-->
<link href="{{ url_for('static', filename='assets/css/kanban.css') }}" rel="stylesheet" type="text/css"/>
<!--begin::Layout Themes(used by all pages)-->
<!--end::Layout Themes-->
<link rel="shortcut icon" href="{{ url_for('static', filename='assets/media/logos/favicon.ico') }}"/>