{% extends 'layout.html' %}{% set title = "Main" %}
{% block body %}
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            {% if current_user.is_authenticated %}
                <div class="row">
                    <div class="col-lg-5">
                        <!--begin::Card-->
                        <div class="card card-custom bg-primary rounded card-stretch card-stretch-half card-shadowless gutter-b" style="min-height: 250px">
                            <div class="card-body align-items-center justify-content-center" style="top: 50%;transform: translateX(0%) translateY(-50%);position: absolute;-ms-transform: translateX(0%) translateY(-50%);text-align: right">
                                <p class="text-center text-light-primary"><strong class="font-weight-boldest display-1-xl display-2">{{ dayJoin }}</strong> day to stay fit</p>
                            </div>
                        </div>
                        <!--end::Card-->
                        <!--begin::Card-->
                        <div class="card card-custom bg-{% if weightProgress[0] >= 0 %}success{% else %}warning{% endif %} card-stretch card-stretch-half card-shadowless rounded gutter-b">
                            <div class="card-header border-0 pt-6">
                                <div class="card-title align-items-start flex-column">
                                    <p class="card-label font-weight-bold font-size-h1-xl font-size-h2 text-white">
                                        {% if weightProgress[0] == 0 %}Your weight does not change{% elif weightProgress[0] < 0 %}Your weight has increased{% else %}Your weight has decreased{% endif %}</p>
                                    {% if weightProgress[0] != 0 %}
                                        <p class="mt-5 font-weight-boldest display-2-xl display-3 text-white">{{ weightProgress[0]|abs }} KG</p>
                                    {% endif %}
                                    <p class="text-white mt-3 font-weight-bold font-size-h1-xl font-size-h2">for the past <strong
                                            class="display-3-xl display-4 font-weight-bolder rounded p-3 bg-light-info text-success ">{{ weightProgress[1] }}</strong> days</p>
                                </div>
                            </div>
                            <div class="card-body"></div>
                        </div>
                        <!--end::Card-->
                    </div>
                    <div class="col-lg-7">
                        <!--begin::Chart Widget 1-->
                        <div class="card card-custom card-stretch gutter-b shadow-sm">
                            <!--begin::Header-->
                            <div class="card-header border-0 pt-6">
                                <h3 class="card-title">
                                    <span class="card-label font-weight-bolder font-size-h4 text-dark-75">Recent Health Condition</span>
                                </h3>
                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body pt-5">
                                <!--begin::Chart-->
                                <div id="health_chart"></div>
                                <!--end::Chart-->
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Chart Widget 1-->
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-lg-12">
                        <!--begin::Engage Widget 1-->
                        <div class="card card-custom gutter-b shadow-sm">
                            <div class="card-body d-flex align-items-center py-5 py-lg-10">
                                <!--begin::Icon-->
                                <div class="d-flex flex-center position-relative ml-5 mr-15 ml-lg-11 mr-lg-19">
                                    <span class="svg-icon svg-icon-6x svg-icon-primary position-absolute opacity-15">
                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-polygon.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="70px" height="70px" viewBox="0 0 70 70" fill="none">
                                            <g stroke="none" stroke-width="1" fill-rule="evenodd">
                                                <path d="M28 4.04145C32.3316 1.54059 37.6684 1.54059 42 4.04145L58.3109 13.4585C62.6425 15.9594 65.3109 20.5812 65.3109 25.5829V44.4171C65.3109 49.4188 62.6425 54.0406 58.3109 56.5415L42 65.9585C37.6684 68.4594 32.3316 68.4594 28 65.9585L11.6891 56.5415C7.3575 54.0406 4.68911 49.4188 4.68911 44.4171V25.5829C4.68911 20.5812 7.3575 15.9594 11.6891 13.4585L28 4.04145Z"
                                                      fill="#000000"/>
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span> <span class="svg-icon svg-icon-primary svg-icon-2x">
                                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\keen\theme\demo4\dist/../src/media/svg/icons\General\User.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"/>
                                            <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                            <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                                                  fill="#000000" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                                </div>
                                <!--end::Icon-->
                                <!--begin::Description-->
                                <div class="">
                                    <h3 class="pb-1 text-dark-75 font-weight-bolder font-size-h5">Welcome! Dear user:</h3>
                                    <p class="m-0 text-dark-50 font-weight-bold font-size-lg">To explore and unlock more functions, please <a href="{{ url_for("account.sign_up") }}"
                                                                                                                                              class="text-primary">login</a> into the system. You can also explore our
                                        <a href="{{ url_for("article.article_list",page=1,per_page=10,category="Diet") }}" class="pr-1 text-primary">article</a> without signing in.</p>
                                </div>
                                <!--end::Description-->
                            </div>
                        </div>
                        <!--end::Engage Widget 1-->
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <!--begin::List Widget 10-->
                    <div class="card card-custom card-stretch gutter-b shadow-sm">
                        <!--begin::Header-->
                        <div class="card-header border-0">
                            <h3 class="card-title font-weight-bolder text-dark">Trending Sports</h3>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-0" id="trending_sport">

                        </div>
                        <!--end: Card Body-->
                    </div>
                    <!--end: Card-->
                    <!--end: List Widget 10-->
                </div>
                <div class="col-xl-8 col-lg-6">
                    <!--begin::List Widget 6-->
                    <div class="card card-custom card-stretch gutter-b shadow-sm">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-6">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder font-size-h4 text-dark-75">Trending Articles</span>
                            </h3>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-7" id="trending_articles">

                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List Widget 6-->
                </div>
            </div>
        </div>
    </div>
    <!--end::Entry-->
    {% include '_includes/_scripts.html' %}
    <script src="{{ url_for('static', filename='assets/js/index.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            loadTrendingArticle('{{ url_for("article.get_trending_articles") }}')
            loadTrendingSport('{{ url_for("advisor.get_trending_sports") }}')
            {% if notify != None %}
                notify('{{ notify }}', '{{ type }}')
            {% endif %}
            {% if current_user.is_authenticated %}
                healthChart('{{ url_for("advisor.get_week_chart") }}')
            {% endif %}
            {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        swal.fire({
                            text: "{{ message }}",
                            icon: "{{ category }}",
                            confirmButtonText: "Ok, got it!",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    {% endfor %}
                {% endif %}
            {% endwith %}
        });

    </script>
{% endblock %}