{% extends 'layout.html' %}{% set title = "Article" %}
{% block body %}
    <div class="subheader py-6 py-lg-8 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Articles</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Articles</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            {% if current_user.is_authenticated %}
            <!--begin::Toolbar-->
                <div class="d-flex align-items-center flex-wrap">
                    <!--begin::Dropdown-->
                    <div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions" data-placement="top">
                        <a class="btn btn-fixed-height btn-primary font-weight-bolder font-size-sm px-5 my-1" data-toggle="modal" data-target="#favouriteArticles" onclick="loadFav('{{ url_for("article.get_favourite_list") }}')">
										<span class="svg-icon svg-icon-md">
											<!--begin::Svg Icon | path:assets/media/svg/icons/Files/File.svg-->
											<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<polygon points="0 0 24 0 24 24 0 24"/>
													<path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
													<rect fill="#000000" x="6" y="11" width="9" height="2" rx="1"/>
													<rect fill="#000000" x="6" y="15" width="5" height="2" rx="1"/>
												</g>
											</svg>
                                            <!--end::Svg Icon-->
										</span>Favourite articles</a>
                    </div>
                    <!--end::Dropdown-->
                    <!-- Modal-->
                    <div class="modal fade" id="favouriteArticles" tabindex="-1" role="dialog" aria-labelledby="favouriteArticlesLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="favouriteArticlesLabel">Favourite articles</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <i aria-hidden="true" class="ki ki-close"></i>
                                    </button>
                                </div>
                                <div class="modal-body" id="favourite_articles_list">
                                    <div class='d-flex flex-column flex-grow-1 mb-4 mt-4'><p class='font-size-h5 text-center font-weight-bolder'>There is no article you like for now.</p></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--end::Toolbar-->
            {% endif %}
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!--begin::Tables Widget 2-->
                    <div class="card card-custom card-stretch gutter-b ">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-7">
                            <div class="card-toolbar">
                                <ul class="nav nav-pills nav-pills-sm nav-dark">
                                    <li class="nav-item">
                                        <a href="{{ url_for(request.endpoint,page=1,per_page=request.args.get("per_page"),category="Diet") }}" class="nav-link py-2 px-4 {% if request.args.get("category") | string == "Diet" %}active{% endif %} font-weight-bolder font-size-sm">Diet</a>
                                    </li>
                                    <li class="nav-item ml-0">
                                        <a href="{{ url_for(request.endpoint,page=1,per_page=request.args.get("per_page"),category="Exercise") }}" class="nav-link py-2 px-4 {% if request.args.get("category") | string == "Exercise" %}active{% endif %} font-weight-bolder font-size-sm">Exercise</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="d-flex align-items-center py-3">
                                <script>
                                    function goto(per_page) {
                                        window.location.href = "{{ url_for(request.endpoint,page=1,category=request.args.get("category")) | safe }}&per_page=" + per_page;
                                    }
                                </script>
                                <select class="form-control form-control-sm font-weight-bold mr-4 border-0 bg-light" style="width: 75px;" onchange="goto(this.value)">
                                    <option value="10" {% if pagination.per_page == 10 %}selected{% endif %}>10</option>
                                    <option value="20" {% if pagination.per_page == 20 %}selected{% endif %}>20</option>
                                    <option value="30" {% if pagination.per_page == 30 %}selected{% endif %}>30</option>
                                </select> <span class="text-muted">Displaying <strong>{{ pagination.items | length if pagination.per_page < pagination.total else "All" }}</strong> of {{ pagination.total }} articles</span>
                            </div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <style>
                            @media only screen and (max-width: 600px) {
                                .article-img {
                                    display: none;
                                }
                            }
                        </style>
                        <div class="card-body pt-0 mt-n1 pb-3">
                            <div class="mt-5">
                                <!--begin::Body-->
                                <div class="card-body pt-7">
                                    {% for article in articles %}
                                        <!--begin::Item-->
                                        <div class="d-flex align-items-center pb-9">
                                            <!--begin::Symbol-->
                                            <div class="symbol symbol-70 symbol-2by3 flex-shrink-0 mr-6 article-img">
                                                <div class="symbol-label" style="background-image: url('{{ url_for('static', filename='assets/media/stock/'+article.img | string+'.jpg') }}')"></div>
                                            </div>
                                            <!--end::Symbol-->
                                            <!--begin::Section-->
                                            <div class="d-flex flex-column flex-grow-1">
                                                <!--begin::Title-->
                                                <a href="{{ url_for("article.read_article",article_id=article.id) }}" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg mb-1">{{ article.title }}</a>
                                                <!--end::Title-->
                                                <!--begin::Desc-->
                                                <span class="text-muted font-weight-bold">
                                                {% for i in article.tag.split(',') %}
                                                    <span class="label label-success label-inline mr-2">{{ i }}</span>
                                                {% endfor %}
                                            </span>
                                                <!--begin::Desc-->
                                            </div>
                                            <!--end::Section-->
                                        </div>
                                        <!--end::Item-->
                                    {% endfor %}
                                </div>
                                <!--end::Body-->
                                <!--begin::Pagination-->
                                <div class="d-flex justify-content-center align-items-center flex-wrap">
                                    <div class="d-flex flex-wrap py-2 mr-3">
                                        {% if pagination.has_prev %}
                                            <a href="{{ url_for(request.endpoint,page=1,per_page=pagination.per_page,category=request.args.get("category")) }}" class="btn btn-icon btn-circle btn-sm btn-light mr-2 my-1 {% if pagination.prev_num<3 %}disabled{% endif %}">
                                                <i class="ki ki-bold-double-arrow-back icon-xs"></i></a>
                                            <a href="{{ url_for(request.endpoint,page=pagination.next_num,per_page=pagination.per_page,category=request.args.get("category")) }}" class="btn btn-icon btn-circle  btn-sm btn-light mr-2 my-1">
                                                <i class="ki ki-bold-arrow-back icon-xs"></i> </a>
                                            {% if pagination.prev_num>1 %}
                                                <a href="{{ url_for(request.endpoint,page=pagination.prev_num|int - 1,per_page=pagination.per_page,category=request.args.get("category")) }}" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">{{ pagination.prev_num - 1 }}</a>
                                            {% endif %}
                                            <a href="{{ url_for(request.endpoint,page=pagination.prev_num,per_page=pagination.per_page,category=request.args.get("category")) }}" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">{{ pagination.prev_num }}</a>
                                        {% endif %}
                                        <a class="btn btn-icon btn-sm border-0 btn-light btn-hover-success active mr-2 my-1">{{ pagination.page }}</a>
                                        {% if pagination.has_next %}
                                            <a href="{{ url_for(request.endpoint,page=pagination.next_num,per_page=pagination.per_page,category=request.args.get("category")) }}" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">{{ pagination.next_num }}</a>
                                            {% if pagination.next_num != pagination.pages %}
                                                <a href="{{ url_for(request.endpoint,page=pagination.next_num|int + 1,per_page=pagination.per_page,category=request.args.get("category")) }}" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">{{ pagination.next_num|int + 1 }}</a>
                                            {% endif %}
                                            <a href="{{ url_for(request.endpoint,page=pagination.next_num,per_page=pagination.per_page,category=request.args.get("category")) }}" class="btn btn-icon btn-circle btn-sm btn-light mr-2 my-1">
                                                <i class="ki ki-bold-arrow-next icon-xs"></i> </a>
                                            <a href="{{ url_for(request.endpoint,page=pagination.total,per_page=pagination.per_page,category=request.args.get("category")) }}" class="btn btn-icon btn-circle btn-sm btn-light mr-2 my-1 {% if pagination.pages|int - pagination.next_num|int<3 %}disabled{% endif %}">
                                                <i class="ki ki-bold-double-arrow-next icon-xs"></i> </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <!--end:: Pagination-->
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Tables Widget 2-->
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='assets/js/article.js') }}"></script>
    {% include '_includes/_scripts.html' %}
{% endblock %}